In [2]:
import pandas as pd

from google.colab import drive
drive.mount('/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /drive

In [0]:
sd_single_fam = pd.read_csv("../drive/My Drive/UCI-IRV-2020-04/sandiego_single_family_listings.csv")

In [0]:
anaheim_single_fam = pd.read_csv("../drive/My Drive/UCI-IRV-2020-04/anaheim_single_family_listings.csv")
la_single_fam = pd.read_csv("../drive/My Drive/UCI-IRV-2020-04/la_single_family_listings.csv")

In [0]:
merge1 = pd.concat([sd_single_fam, anaheim_single_fam])
merge2 = pd.concat([merge1, la_single_fam])

In [10]:
merge2.head()

   Unnamed: 0  property_id      prop_type  ...     county  building_size  lot_size
0           0  M2278071853  single_family  ...  San Diego         1352.0    6500.0
1           1  M2739002954  single_family  ...  San Diego         1614.0    5718.0
2           2  M1281042411  single_family  ...  San Diego         2586.0    7700.0
3           3  M1811103700  single_family  ...  San Diego         1374.0    6300.0
4           4  M1479304073  single_family  ...  San Diego         5390.0   23958.0

[5 rows x 14 columns]

In [16]:
socal_cleaned_data = pd.DataFrame(merge2)
socal_cleaned_data

     Unnamed: 0  property_id  ... building_size  lot_size
0             0  M2278071853  ...        1352.0    6500.0
1             1  M2739002954  ...        1614.0    5718.0
2             2  M1281042411  ...        2586.0    7700.0
3             3  M1811103700  ...        1374.0    6300.0
4             4  M1479304073  ...        5390.0   23958.0
..          ...          ...  ...           ...       ...
190         191  M2055450644  ...        2368.0    8259.0
191         192  M1431994454  ...        1329.0    5100.0
192         193  M2287573782  ...        4280.0    4835.0
193         194  M2890808965  ...        1440.0    3927.0
194         195  M2414866018  ...        2600.0    6077.0

[572 rows x 14 columns]

In [0]:
socal_cleaned_data.to_csv('/drive/My Drive/UCI-IRV-2020-04/socal_single_family_listings.csv')